<app-nav></app-nav>
<section class="container">

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
   
  <div class="col-md-8">
    <div class="card-body">

      <h5 class="card-text">
        {{userData.name}}</h5>
      <p class="card-text">
        {{userData.user_description}}</p>
    </div>
  </div>
  <div class="col-md-4">
    <img src="./././assets/userimage/upload-1610201979540.jpg" class="card-img-top" alt="..." >
  </div>
</div>
</div>
</section>
<app-footer></app-footer>
