<app-nav></app-nav>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
   
    <title>Login</title>
</head>
<body>
<section class="container">
    <div class="checklist">
<form #userModel="ngForm" (ngSubmit)="userModel.form.valid && onLoginSubmit()" >
    <input name="email" email required placeholder="Email" [(ngModel)]="userModal.email" #email="ngModel" class="form-control">
    <div *ngIf="userModel.submitted && email.invalid">
        <div *ngIf="email.errors?.required">
            required email
        </div>
        <div *ngIf="email.errors?.email">
            invalid email
        </div>
    </div>

    <input name="password" required minlength="6" type="password" [(ngModel)]="userModal.password" #password = "ngModel" class="form-control">
    <div *ngIf="userModel.submitted && password.invalid">
        <div *ngIf="password.errors?.required">
            required password
        </div>
        <div *ngIf="password.errors?.minlength">
            must be more than 6
        </div>
    </div>
  

    <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="userModal.role">
        <option selected>Please select role</option>
        <option value="0">User</option>
        <option value="1">Admin</option>
        <option value="2">Writer</option>
      </select>
 
    <button type="submit" class="btn btn-primary">login</button>
<div *ngIf="(userModel.submitted&&loginflag); else logged" class="form-control">
invalid data
</div>
<ng-template #logged>
    logged in
</ng-template>

</form>
</div>
</section>
</body>
</html>
<app-footer></app-footer>